<template>
<div>
    <section class="referral_page d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="banner_section text-center">
                        <h2>Hideous <span>Referral</span> Program</h2>
                        <p>Refer & earn 50% of trading fee paid by your friends as reward. Be your own Boss!</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--*****************banner section end ************-->
    <section class="reward_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class=" reward_payments d-flex justify-content-evenly align-items-start">
                        <div class="reward_list text-center">
                            <div class="icons_list d-flex justify-content-center align-items-center mb-3"><img src="@/assets/images/icons/percentreferral.svg" alt="icons" class="img-fluid"></div>
                            <div class="headings">
                                <p>Earn 50% as reward of <br> every trading fee</p>
                            </div>
                        </div>
                        <div class="reward_list text-center">
                            <div class="icons_list d-flex justify-content-center align-items-center mb-3"><img src="@/assets/images/icons/payment_time.svg" alt="icons" class="img-fluid"></div>
                            <div class="headings">
                                <p>Payout every 24 hours!</p>
                            </div>
                        </div>
                        <div class="reward_list text-center">
                            <div class="icons_list d-flex justify-content-center align-items-center mb-3"><img src="@/assets/images/icons/coinreferral.svg" alt="icons" class="img-fluid"></div>
                            <div class="headings">
                                <p>Unlimited referrals</p>
                            </div>
                        </div>
                        <div class="reward_list text-center">
                            <div class="icons_list d-flex justify-content-center align-items-center mb-3"><img src="@/assets/images/icons/reward.svg" alt="icons" class="img-fluid"></div>
                            <div class="headings">
                                <p>Unlimited rewards</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-evenly mt-4">
                <div class="col-md-12 col-lg-12 col-xl-4 px-0">
                    <div class="reward_heading">
                        <div class=" text-center">
                            <h2>How it <span>Works?</span></h2>
                            <button type="submit" class="btn setting_btn shadow-none my-4">Login To Participate</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-6 col-xl-2 col-xxl-2 hidden_col d-none d-xl-block">
                    <div class="reward_heading ">
                        <img src="@/assets/images/referral-page/before_img.png" alt="text" class="img-fluid" id="p2p_image">
                    
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2">
                    <div class="main_box_reward">
                        <div class="reward_btn p-4 text-center mb-3 ">
                            <button type="submit" class="btn setting_btn shadow-none ">Signup</button>
                        </div>
                        <div class="reward_info text-center">
                            <h4>Get your link</h4>
                            <p>Join Hideous and get your unique trading link. you'll earn for customers who sign up through this link.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2">
                    <div class="main_box_reward">
                        <div class="input-group py-4  mb-3 ">
                            <input type="text" class="form-control shadow-none" placeholder="BNCKJF432DSDSF24DFSDFS" aria-label="Username" aria-describedby="basic-addon1">
                            <span class="input-group-text shadow-none border-0 " id="basic-addon1">
                                <button type="button" class="btn btn_signup shadow-none border-0 p-0">Signup</button>
                            </span>
                        </div>
                        <div class="reward_info text-center">
                            <h4>Share your link</h4>
                            <p>Share your links via telegram, twitter, emails, or anyway you want. The more you promote, the more you earn.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-2">
                    <div class="main_box_reward text-center">
                        <div class="btn_group p-4 mb-3">
                            <div class="btn-group  " role="group" aria-label="Basic example">
                                <button type="button" class="btn btn_reward shadow-none">Rewards</button>
                                <button type="button" class="btn shadow-none"><img src="@/assets/images/referral-page/reward.png" alt="text" class="img-fluid"></button>
                            </div>
                        </div>
                        <div class="reward_info text-center mt-2">
                            <h4>Earn when they trade!</h4>
                            <p>You earn 50% as reward of every trading fee paid by your friends. Even while you're asleep!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- *******************reward section end*********************** -->
    <section class="ask_questions">
        <div class="container">
            <div class="row align-items-center justify-content-between reverse">
                <div class="col-md-5 col-lg-5 col-xl-5">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button  shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    How much can I earn in this referral program?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">You can earn unlimited rewards! Every time your friend trades, you get 50% of their trading fees as reward in hideous. The more your friend trades, the more you earn.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button  shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    When will the referral rewards be credited to my account?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">You can earn unlimited rewards! Every time your friend trades, you get 50% of their trading fees as reward in hideous. The more your friend trades, the more you earn</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button  shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    How will referral rewards be distributed?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">You can earn unlimited rewards! Every time your friend trades, you get 50% of their trading fees as reward in hideous. The more your friend trades, the more you earn</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button  shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    Do you have any tips that will help me earn more rewards?
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">You can earn unlimited rewards! Every time your friend trades, you get 50% of their trading fees as reward in hideous. The more your friend trades, the more you earn</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button  shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    How do I know if my friend has successfully signed up via my referral link?
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">You can earn unlimited rewards! Every time your friend trades, you get 50% of their trading fees as reward in hideous. The more your friend trades, the more you earn.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSix">
                                <button class="accordion-button  shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                    Important rules to keep in mind
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">You can earn unlimited rewards! Every time your friend trades, you get 50% of their trading fees as reward in hideous. The more your friend trades, the more you earn.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="reward_heading d-block p-5">
                        <div>
                            <h2>Frequently <br>Asked <span>Questions</span></h2>
                        </div>
                        <div>
                            <p>We know you have some questions in mind, we've <br> tried to list the most important ones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
</template>

<script>
export default {
    name: 'ReferralView'
}
</script>

<style scoped>
section {
    padding: 70px 0;
}

.referral_page {
    background-image: url('@/assets/images/referral-page/referral_banner.png');
    min-height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_section h2 {
    color: var(--white);
    font-size: 25px;
}

.banner_section h2 span {
    color: var(--hideous-pink);
    font-size: 25px;
}

.banner_section p {
    color: var(--white);
}

.icons_list {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 7px solid var(--ref-border );
    background-color: var(--hideous-modal-input);
    margin: auto;
}

.reward_section {
    background-color: var(--hideous-black);
}

.reward_payments {
    position: relative;
    top: -135px;
    left: 0;
}

.reward_heading h2 {
    color: var(--hideous-white);
    font-size: 54px;
    font-weight: 400;
}

.reward_heading h2 span {
    color: var(--hideous-pink);
    font-size: 54px;
    font-weight: 400;
}

.reward_heading {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reward_list .headings p {
    color: var(--hideous-white);
}

.main_box_reward .input-group .form-control {
    color: var(--hideous-white);
    font-size: 13px;
}

.input-group-text {
    background-color: var(--hideous-pink) !important;
}

.btn_signup {
    color: var(--white) !important;
    font-size: 14px;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    background-color: transparent;
    border: 1px solid var(--hideous-fee-bg);
}

.btn_reward {
    color: var(--hideous-pink);
    border-right: 1px solid var(--hideous-pink);
    font-size: 13px;
}

.main_box_reward {
    min-height: 249px;
    border-radius: 5px;
    border: 1px solid var(--hideous-pink);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 10px;

}

.main_box_reward .reward_btn .setting_btn {
    padding: 6px 25px !important;
}

.reward_info h4 {
    color: var(--hideous-white);
    font-size: 16px;
}

.reward_info p {
    color: var(--hideous-text-gray);
    font-size: 13px;
}

.btn-group {
    border: 1px solid var(--hideous-pink);
    border-radius: 5px;
}

.ask_questions {
    background-color: var(--hideous-black);
    position: relative;
}

.ask_questions::before {
    position: absolute;
    content: '';
    right: 63px;
    bottom: 84px;
    height: 246px;
    width: 448px;
    background-image: url('@/assets/images/referral-page/questions.png');
    background-repeat: no-repeat;
}

.ask_questions .reward_heading {
    flex-direction: column;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-body {
    background-color: var(--hideous-black);
    color: var(--hideous-white);
    font-size: 15px;
}

.accordion-button:focus {
    border: 0 !important
}

.accordion-button::after {
    background-image: url('@/assets/images/icons/arrow.svg');
}

.accordion-item {
    background-color: unset;
    border-bottom: 1px solid var(--hideous-fee-bg);
}

.reward_heading p {
    color: var(--hideous-white);
    font-size: 13px;
    letter-spacing: 1px;
}

.reward_btn,
.btn_group,
.input-group {
    border-bottom: 1px solid var(--hideous-fee-bg);
    position: relative;
}

.reward_btn::before {
    position: absolute;
    content: '';
    bottom: -2px;
    right: 24px;
    height: 40px;
    width: 40px;
    background-image: url('@/assets/images/referral-page/click.png');
    background-repeat: no-repeat;
}
/* .accordion-button::after svg {
   fill: var(--hideous-white);
} */
/*________________________________ NEW CSS ____________________________________________*/
.light_image {
        filter: brightness(12) invert(1);
}
@media all and (min-width: 1200px) and (max-width: 1399px) {
    .ask_questions::before {
        display: none;
    }

    section {
        padding: 40px 0;
    }

    .reward_payments {
        top: -92px;
    }

    .hidden_col {
        display: none;
    }

    .btn_group {
        padding: 20px 0 !important;
    }
     .reward_btn::before {
        right: 9px;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .reward_payments {
        top: 0;
    }

    .ask_questions::before {
        display: none;
    }

    section {
        padding: 40px 0;
    }
    .reward_btn::before {
        right: 73px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .reward_payments {
        top: 0;
    }

    .reward_heading {
        padding: 15px !important;
    }

    .ask_questions::before {
        display: none;
    }

    .main_box_reward {
        min-height: 241px;
    }

    section {
        padding: 40px 0;
    }
    
    .reward_btn::before {
        right: 34px;
    }

}

@media all and (min-width: 320px) and (max-width: 767px) {
    section {
        padding: 40px 0;
    }

    .reward_payments {
        flex-direction: column;
        top: 0;
    }

    .main_box_reward {
        margin-bottom: 20px;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .reward_heading {
        padding: 15px !important;
        min-height: 190px;
    }

    .reward_list {
        margin: auto;
    }

    .reward_heading h2 span,
    .reward_heading h2 {
        font-size: 38px;
    }

    .reward_btn::before {
        right: 73px;
    }
}
</style>
