<template>
<div>
    <SettingnavComponent/>
</div>
</template>

<script>
import SettingnavComponent from '@/components/Setting/SettingnavComponent.vue'
export default {
    name: 'MobileSettingView',
    components: {
        SettingnavComponent
    }
}
</script>

